<nav class="navbar navbar-expand-lg navbar-dark bg-red">

  <%= image_tag 'logo.png',  alt: "Logo", style: "height: 60px;border-radius: 2.5px", class: "navbar-brand"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%= family_expenses_path %>">Gastos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%= family_index_path %>">Familiares</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%= family_savings_planner_path %>">Planificador De Ahorro</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%= family_holder_path %>">Titular</a>
      </li>
    </ul>
    <% if user_signed_in? %>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to "Cerrar Sesión", destroy_user_session_path, method: "delete", class: "nav-link active" %>
      </li>
    </ul>
    <% end %>
  </div>
</nav>
